# Yangi dasr(8-dars)

# Vazifa
# O'tilgan barcha kodlarni takrorlash
# 8-dars nazariyasini qayta o'rganish

In [86]:
import pandas as pd

In [ ]:
df=pd.read_csv('IMDB_Movies_Dataset.csv') # Bu kod kompyuteringizdagi IMDB_Movies_Dataset.csv faylini o‘qib, uni df nomli DataFrame (jadval) sifatida yuklaydi.
# pd — bu pandas kutubxonasi (import pandas as pd bo'lishi kerak oldin).
# read_csv() — CSV formatidagi faylni o‘qish uchun funksiyadir.
# 'IMDB_Movies_Dataset.csv' — fayl nomi

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [89]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [90]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes

In [ ]:
df=df.dropna(subset='Writer', axis=0) # Bu kod Writer ustunida bo‘sh (NaN) qiymat bor bo‘lgan qatorlarni (row) o‘chiradi.
# dropna() - Bu metod NaN (bo‘sh) qiymatlarni o‘chirish uchun ishlatiladi.
# subset='Writer' - Faqat Writer ustunini tekshiradi. Agar faqat shu ustunda NaN bo‘lsa — o‘chiradi.
# axis=0 - Bu — qatorlar (rows) ni anglatadi. (standart qiymat, yozmasangiz ham bo‘ladi)
# df = ... - Natijani asl df ga qayta yozib saqlab qo‘yadi.

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4988 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4988 non-null   int64
 1   Title              4988 non-null   object
 2   Average Rating     4988 non-null   float64
 3   Director           4988 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4988 non-null   object
 8   Country of Origin  4985 non-null   object
 9   Languages          4967 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4988 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 545.6+ KB

In [ ]:
df.isnull().sum() #Bu kod sizning df (DataFrame) jadvalingizda qaysi ustunda nechta NaN (bo‘sh) qiymat borligini ko‘rsatadi.
# df.isnull() - Jadvaldagi har bir katak uchun True yoki False qaytaradi:
                                                                        #True → agar qiymat NaN bo‘lsa
                                                                        #False → agar qiymat to‘liq bo‘lsa
# .sum()- Har bir ustundagi True larni sanaydi (ya'ni, bo‘sh qiymatlar sonini).

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore            1933
Cast                    6
Release Date            0
Country of Origin       3
Languages              21
Budget               2337
Worldwide Gross      1093
Runtime                 0
dtype: int64

In [ ]:
df['Metascore']=df['Metascore'].fillna(df['Metascore'].mean()) #Bu kod Metascore ustunidagi bo‘sh (NaN) qiymatlarni o‘sha ustundagi o‘rtacha qiymat (mean) bilan to‘ldiradi.
# df['Metascore'] - DataFrame ichidagi 'Metascore' ustunini oladi.
# .mean() - NaN bo‘lmagan qiymatlarning aritmetik o‘rtachasini hisoblaydi. Masalan: [70, 80, NaN, 90] → o‘rtacha = (70 + 80 + 90) / 3 = 80
# .fillna(...) - NaN joylarni shu o‘rtacha qiymat bilan to‘ldiradi.
# df['Metascore'] = ... - Yangi qiymatlar bilan ustunni yangilaydi.

In [97]:
df.head(50)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",74.684452,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes
5,5,The Silence of Swastika,9.1,Anuj Bhardwaj,Suzanne Bernert,74.684452,Suzanne Bernert,"December 30, 2021 (India)",India,"Hindi, English",NaN,NaN,56 minutes
6,6,Maya Bazaar,9.1,Kadiri Venkata Reddy,"Pingali Nagendra Rao, Kadiri Venkata Reddy",74.684452,"N.T. Rama Rao, S.V. Ranga Rao, Savitri, Akkine...","March 27, 1957 (India)",India,"Telugu, Tamil",NaN,NaN,3 hours 12 minutes
7,7,The Dark Knight,9.0,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",84.000000,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","July 18, 2008 (India)","United States, United Kingdom","English, Mandarin","$185,000,000 (estimated)","$1,009,053,678",2 hours 32 minutes
8,8,Schindler's List,9.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian",95.000000,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...","December 15, 1993 (India)",United States,"English, Hebrew, German, Polish, Latin","$22,000,000 (estimated)","$322,161,245",3 hours 15 minutes
9,9,12 Angry Men,9.0,Sidney Lumet,Reginald Rose,97.000000,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...","April 10, 1957 (United States)",United States,English,"$350,000 (estimated)","$2,945",1 hour 36 minutes
10,10,The Godfather: Part II,9.0,Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",90.000000,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",1979 (India),United States,"English, Italian, Spanish, Latin, Sicilian","$13,000,000 (estimated)","$47,964,222",3 hours 22 minutes
11,11,The Lord of the Rings: The Return of the King,9.0,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens",94.000000,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...","February 6, 2004 (India)","New Zealand, United States","English, Quenya, Old English, Sindarin","$94,000,000 (estimated)","$1,138,263,151",3 hours 21 minutes
12,12,Sandesham,9.0,Sathyan Anthikad,Sreenivasan,74.684452,"Sreenivasan, Jayaram, Thilakan, Maathu, Kaviyo...","October 30, 1991 (India)",India,Malayalam,NaN,NaN,2 hours 18 minutes
13,13,Oggatonama,9.0,Tauquir Ahmed,Tauquir Ahmed,74.684452,"Shahiduzzaman Selim, Ashraful Tushar, Mosharra...","August 19, 2016 (Bangladesh)",Bangladesh,Bengali,NaN,NaN,1 hour 40 minutes
14,14,The Lord of the Rings: The Fellowship of the Ring,8.9,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens",92.000000,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...","March 15, 2002 (India)","New Zealand, United States, United Kingdom","English, Sindarin","$93,000,000 (estimated)","$888,159,923",2 hours 58 minutes
15,15,Pulp Fiction,8.9,Quentin Tarantino,"Quentin Tarantino, Roger Avary",95.000000,"John Travolta, Uma Thurman, Samuel L. Jackson,...","October 14, 1994 (India)",United States,"English, Spanish, French","$8,000,000 (estimated)","$213,928,762",2 hours 34 minutes
16,16,I'm Still Here,8.9,Walter Salles,"Murilo Hauser, Heitor Lorega, Marcelo Rubens P...",79.000000,"Fernanda Torres, Fernanda Montenegro, Selton M...","November 7, 2024 (Brazil)","Brazil, France",Portuguese,"R$8,000,000 (estimated)","$6,600,000",2 hours 16 minutes
17,17,O.J.: Made in America,8.9,Ezra Edelman,"Willie Brown, Harry Edwards, John McKay",74.684452,"Willie Brown, Harry Edwards, John McKay, Harry...","May 20, 2016 (United States)",United States,English,NaN,NaN,7 hours 47 minutes
18,18,The Message,8.9,Moustapha Akkad,"H.A.L. Craig, Tewfik El-Hakim, A.B. Rahman El-...",74.684452,"Abdallah Gheith, Mona Wassef, Hamdy Gheith, Al...",1976 (Kuwait),Libya,Arabic,NaN,NaN,3 hours 27 minutes
19,19,Tosun Pasa,8.9,Kartal Tibet,Yavuz Turgul,74.684452,"Kemal Sunal, Müjde Ar, Adile Nasit, Sener Sen,...","April 24, 2018 (China)",Turkey,Turkish,NaN,NaN,1 hour 30 minutes
20,20,Mirror Game,8.9,Amitabh Reza Chowdhury,"Syed Gaosul Alam Shaon, Anam Biswas, Adnan Adi...",74.684452,"Chanchal Chowdhury, Masuma Rahman Nabila, Part...","February 8, 2024 (India)",Bangladesh,Bengali,"BDT 35,000,000 (estimated)",NaN,2 hours 27 minutes
21,21,Hababam Sinifi: Sinifta Kaldi,8.9,Ertem Egilmez,"Sadik Sendil, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Kemal Sunal, Adile Na...",December 1975 (Turkey),Turkey,Turkish,NaN,NaN,1 hour 35 minutes
22,22,Kireedam,8.9,Sibi Malayil,A.K. Lohithadas,74.684452,"Mohanlal, Thilakan, Kaviyoor Ponnamma, Parvath...","July 7, 1989 (India)",India,Malayalam,NaN,"$181,001",2 hours 4 minutes
23,23,Inception,8.8,Christopher Nolan,Christopher Nolan,74.000000,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...","July 16, 2010 (India)","United States, United Kingdom","English, Japanese, French","$160,000,000 (estimated)","$839,030,630",2 hours 28 minutes
24,24,Fight Club,8.8,David Fincher,"Chuck Palahniuk, Jim Uhls",67.000000,"Brad Pitt, Edward Norton, Meat Loaf, Zach Gren...","October 15, 1999 (India)","Germany, United States",English,"$63,000,000 (estimated)","$101,321,009",2 hours 19 minutes
25,25,Forrest Gump,8.8,Robert Zemeckis,"Winston Groom, Eric Roth",82.000000,"Tom Hanks, Robin Wright, Gary Sinise, Sally Fi...","September 12, 2014 (India)",United States,English,"$55,000,000 (estimated)","$678,226,465",2 hours 22 minutes
26,26,12th Fail,8.8,Vidhu Vinod Chopra,"Vidhu Vinod Chopra, Jaskunwar Kohli, Anurag Pa...",74.684452,"Vikrant Massey, Medha Shankr, Anant Joshi, Ans...","October 27, 2023 (India)",India,Hindi,NaN,"$138,288",2 hours 27 minutes
27,27,"Il Buono, Il Brutto, Il Cattivo",8.8,Sergio Leone,"Luciano Vincenzoni, Sergio Leone, Agenore Incr...",90.000000,"Clint Eastwood, Eli Wallach, Lee Van Cleef, Al...","April 15, 1969 (India)","Italy, Spain, West Germany, United States","Italian, English","$1,200,000 (estimated)","$25,264,999",2 hours 41 minutes
28,28,The Lord of the Rings: The Two Towers,8.8,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens",87.000000,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...","March 28, 2003 (India)","New Zealand, United States","English, Sindarin, Old English","$94,000,000 (estimated)","$938,242,927",2 hours 59 minutes
29,29,The Phantom of the Opera at the Royal Albert Hall,8.8,"Nick Morris, Laurence Connor","Richard Stilgoe, Andrew Lloyd Webber, Gaston L...",74.684452,"Ramin Karimloo, Sierra Boggess, Hadley Fraser,...","October 2, 2011 (United Kingdom)",United Kingdom,English,NaN,"$5,247,282",2 hours 17 minutes
30,30,Demon Slayer: Tsuzumi Mansion Arc,8.8,Haruo Sotozaki,Koyoharu Gotouge,74.684452,NaN,"September 18, 2021 (Japan)",Japan,Japanese,NaN,"$67,358",1 hour 27 minutes
31,31,Les Misérables in Concert: The 25th Anniversary,8.8,"Nick Morris, Laurence Connor, James Powell","Alain Boublil, Claude-Michel Schönberg, Victor...",74.684452,"Alfie Boe, Norm Lewis, Matt Lucas, Jenny Gallo...","October 3, 2010 (United Kingdom)",United Kingdom,English,NaN,"$742,004",2 hours 58 minutes
32,32,The Human Condition III: A Soldier's Prayer,8.8,Masaki Kobayashi,"Zenzô Matsuyama, Kôichi Inagaki, Masaki Kobayashi",74.684452,"Tatsuya Nakadai, Michiyo Aratama, Tamao Nakamu...","January 28, 1961 (Japan)",Japan,"Japanese, Mandarin, Russian",NaN,NaN,3 hours 10 minutes
33,33,#Home,8.8,Rojin Thomas,Rojin Thomas,74.684452,"Indrans, Sreenath Bhasi, Manju Pillai, Naslen,...","August 19, 2021 (India)",India,Malayalam,NaN,NaN,2 hours 38 minutes
34,34,Balkanski spijun,8.8,"Dusan Kovacevic, Bozidar 'Bota' Nikolic",Dusan Kovacevic,74.684452,"Danilo 'Bata' Stojkovic, Bora Todorovic, Mira ...","October 8, 1987 (Hungary)",Yugoslavia,Serbo-Croatian,NaN,NaN,1 hour 35 minutes
35,35,Maratonci trce pocasni krug,8.8,Slobodan Sijan,Dusan Kovacevic,74.684452,"Bogdan Diklic, Danilo 'Bata' Stojkovic, Pavle ...","March 4, 1982 (Yugoslavia)",Yugoslavia,Serbian,NaN,NaN,1 hour 32 minutes
36,36,The Last Farmer,8.8,M. Manikandan,M. Manikandan,74.684452,"Nallandi, Vijay Sethupathi, Yogi Babu, Ravi Pr...","February 11, 2022 (India)",India,Tamil,NaN,"$5,800",2 hours 2 minutes
37,37,Natsamrat,8.8,"Mahesh Manjrekar, Satish Padwal","Abhijeet Shirish Deshpande, Mahesh Manjrekar, ...",74.684452,"Nana Patekar, Medha Manjrekar, Mrunmayee Deshp...","January 1, 2016 (India)",India,Marathi,NaN,$633,2 hours 46 minutes
38,38,Süt Kardesler,8.8,Ertem Egilmez,"Hüseyin Rahmi Gürpinar, Sadik Sendil",74.684452,"Kemal Sunal, Sener Sen, Halit Akçatepe, Hale S...","March 21, 1976 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 20 minutes
39,39,C/O Kancharapalem,8.8,Venkatesh Maha,Venkatesh Maha,74.684452,"Radha Bessy, Subba Rao Vepada, Praneeta Patnai...","September 7, 2018 (India)",India,Telugu,NaN,NaN,2 hours 32 minutes
40,40,Monpura,8.8,"Md. Hafizur Rahman, Giasuddin Selim","Arif Hossain, Giasuddin Selim",74.684452,"Chanchal Chowdhury, Farhana Mili, Shirin Alam,...","February 13, 2009 (Bangladesh)",Bangladesh,Bengali,NaN,NaN,2 hours 16 minutes
41,41,Nadodikkattu,8.8,Sathyan Anthikad,"Sreenivasan, Lal, Siddique",74.684452,"Mohanlal, Sreenivasan, Shobana, Thilakan, Inno...","May 6, 1987 (India)",India,Malayalam,NaN,NaN,2 hours 38 minutes
42,42,Aparajito,8.8,Anik Datta,"Anik Datta, Sreeparna Mitra, Utsav Mukherjee",74.684452,"Jeetu Kamal, Saayoni Ghosh, Debashis Roy, Para...","May 13, 2022 (India)",India,Bengali,NaN,"$18,068",2 hours 18 minutes
43,43,Nuvvu Naaku Nachchav,8.8,Vijay K. Bhaskar,"Trivikram Srinivas, Vijay K. Bhaskar",74.684452,"Venkatesh Daggubati, Aarthi Agarwal, Suhasini,...","September 6, 2001 (India)",India,Telugu,NaN,NaN,3 hours 4 minutes
44,44,Interstellar,8.7,Christopher Nolan,"Jonathan Nolan, Christopher Nolan",74.000000,"Matthew McConaughey, Anne Hathaway, Jessica Ch...","November 7, 2014 (India)","United States, United Kingdom, Canada",English,"$165,000,000 (estimated)","$732,055,745",2 hours 49 minutes
45,45,GoodFellas,8.7,Martin Scorsese,"Nicholas Pileggi, Martin Scorsese",92.000000,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...","July 31, 2019 (India)",United States,"English, Italian, Hebrew, Yiddish","$25,000,000 (estimated)","$47,054,352",2 hours 25 minutes
46,46,The Matrix,8.7,"Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski",73.000000,"Keanu Reeves, Laurence Fishburne, Carrie-Anne ...","September 11, 1999 (India)","United States, Australia",English,"$63,000,000 (estimated)","$467,840,449",2 hours 16 minutes
47,47,One Flew Over the Cuckoo's Nest,8.7,Milos Forman,"Lawrence Hauben, Bo Goldman, Ken Kesey",84.000000,"Jack Nicholson, Louise Fletcher, Michael Berry...","March 10, 1977 (India)",United States,English,"$3,000,000 (estimated)","$109,115,366",2 hours 13 minutes
48,48,Star Wars: Episode V - The Empire Strikes Back,8.7,Irvin Kershner,"Leigh Brackett, Lawrence Kasdan, George Lucas",82.000000,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...","December 10, 1980 (India)",United States,English,"$18,000,000 (estimated)","$550,016,086",2 hours 4 minutes
49,49,Jai Bhim,8.7,T.J. Gnanavel,"T.J. Gnanavel, Rajendra Sapre",74.684452,"Suriya, Lijo Mol Jose, Manikandan K., Rajisha ...","November 2, 2021 (India)","India, United States",Tamil,NaN,NaN,2 hours 44 minutes

In [ ]:
metascore_mean = df['Metascore'].mean() #Bu kod Metascore ustunidagi mavjud (ya'ni NaN bo'lmagan) qiymatlarning aritmetik o‘rtachasini hisoblab chiqaradi va uni chop etadi.
print("Metascore ustunining o'rtacha qiymati:", metascore_mean)

Metascore ustunining o'rtacha qiymati: 74.68445171849429

In [ ]:
df['Budget'].fillna(df['Budget'].mode()[0], inplace=True) #'mode yordamida to'ldirish. Budget ustunidagi NaN (bo‘sh) qiymatlarni eng ko‘p uchraydigan qiymat bilan to‘ldiradi.
# df['Budget']- Budget ustunini tanlayapti.
# .mode() - Bu Budget ustunidagi **eng ko‘p uchraydigan qiymat(lar)**ni qaytaradi.
# [0] - Ba'zida .mode() bir nechta qiymat qaytarishi mumkin (agar ular bir xil darajada ko‘p uchrasa). [0] orqali birinchisi tanlanadi.
# .fillna(..., inplace=True) - NaN qiymatlarni tanlangan qiymat bilan to‘ldiradi va inplace=True esa o‘zgarishni asosiy DataFrameda saqlaydi (ya’ni alohida tayinlash kerak emas).

In [ ]:
budget_mode=df['Budget'].mode() # **eng ko‘p uchraydigan qiymat(lar)**ni topadi (bu moda, o‘rtacha emas!).
print("Budget ustunining o'rtacha qiymati:", budget_mode)

Budget ustunining o'rtacha qiymati: 0    $15,000,000 (estimated)
Name: Budget, dtype: object

In [113]:
df.head(50)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,"$15,000,000 (estimated)","$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,"$15,000,000 (estimated)","$29,332,133",1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",74.684452,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,"$15,000,000 (estimated)","$29,332,133",2 hours 15 minutes
5,5,The Silence of Swastika,9.1,Anuj Bhardwaj,Suzanne Bernert,74.684452,Suzanne Bernert,"December 30, 2021 (India)",India,"Hindi, English","$15,000,000 (estimated)","$29,332,133",56 minutes
6,6,Maya Bazaar,9.1,Kadiri Venkata Reddy,"Pingali Nagendra Rao, Kadiri Venkata Reddy",74.684452,"N.T. Rama Rao, S.V. Ranga Rao, Savitri, Akkine...","March 27, 1957 (India)",India,"Telugu, Tamil","$15,000,000 (estimated)","$29,332,133",3 hours 12 minutes
7,7,The Dark Knight,9.0,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",84.000000,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","July 18, 2008 (India)","United States, United Kingdom","English, Mandarin","$185,000,000 (estimated)","$1,009,053,678",2 hours 32 minutes
8,8,Schindler's List,9.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian",95.000000,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...","December 15, 1993 (India)",United States,"English, Hebrew, German, Polish, Latin","$22,000,000 (estimated)","$322,161,245",3 hours 15 minutes
9,9,12 Angry Men,9.0,Sidney Lumet,Reginald Rose,97.000000,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...","April 10, 1957 (United States)",United States,English,"$350,000 (estimated)","$2,945",1 hour 36 minutes
10,10,The Godfather: Part II,9.0,Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",90.000000,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",1979 (India),United States,"English, Italian, Spanish, Latin, Sicilian","$13,000,000 (estimated)","$47,964,222",3 hours 22 minutes
11,11,The Lord of the Rings: The Return of the King,9.0,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens",94.000000,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...","February 6, 2004 (India)","New Zealand, United States","English, Quenya, Old English, Sindarin","$94,000,000 (estimated)","$1,138,263,151",3 hours 21 minutes
12,12,Sandesham,9.0,Sathyan Anthikad,Sreenivasan,74.684452,"Sreenivasan, Jayaram, Thilakan, Maathu, Kaviyo...","October 30, 1991 (India)",India,Malayalam,"$15,000,000 (estimated)","$29,332,133",2 hours 18 minutes
13,13,Oggatonama,9.0,Tauquir Ahmed,Tauquir Ahmed,74.684452,"Shahiduzzaman Selim, Ashraful Tushar, Mosharra...","August 19, 2016 (Bangladesh)",Bangladesh,Bengali,"$15,000,000 (estimated)","$29,332,133",1 hour 40 minutes
14,14,The Lord of the Rings: The Fellowship of the Ring,8.9,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens",92.000000,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...","March 15, 2002 (India)","New Zealand, United States, United Kingdom","English, Sindarin","$93,000,000 (estimated)","$888,159,923",2 hours 58 minutes
15,15,Pulp Fiction,8.9,Quentin Tarantino,"Quentin Tarantino, Roger Avary",95.000000,"John Travolta, Uma Thurman, Samuel L. Jackson,...","October 14, 1994 (India)",United States,"English, Spanish, French","$8,000,000 (estimated)","$213,928,762",2 hours 34 minutes
16,16,I'm Still Here,8.9,Walter Salles,"Murilo Hauser, Heitor Lorega, Marcelo Rubens P...",79.000000,"Fernanda Torres, Fernanda Montenegro, Selton M...","November 7, 2024 (Brazil)","Brazil, France",Portuguese,"R$8,000,000 (estimated)","$6,600,000",2 hours 16 minutes
17,17,O.J.: Made in America,8.9,Ezra Edelman,"Willie Brown, Harry Edwards, John McKay",74.684452,"Willie Brown, Harry Edwards, John McKay, Harry...","May 20, 2016 (United States)",United States,English,"$15,000,000 (estimated)","$29,332,133",7 hours 47 minutes
18,18,The Message,8.9,Moustapha Akkad,"H.A.L. Craig, Tewfik El-Hakim, A.B. Rahman El-...",74.684452,"Abdallah Gheith, Mona Wassef, Hamdy Gheith, Al...",1976 (Kuwait),Libya,Arabic,"$15,000,000 (estimated)","$29,332,133",3 hours 27 minutes
19,19,Tosun Pasa,8.9,Kartal Tibet,Yavuz Turgul,74.684452,"Kemal Sunal, Müjde Ar, Adile Nasit, Sener Sen,...","April 24, 2018 (China)",Turkey,Turkish,"$15,000,000 (estimated)","$29,332,133",1 hour 30 minutes
20,20,Mirror Game,8.9,Amitabh Reza Chowdhury,"Syed Gaosul Alam Shaon, Anam Biswas, Adnan Adi...",74.684452,"Chanchal Chowdhury, Masuma Rahman Nabila, Part...","February 8, 2024 (India)",Bangladesh,Bengali,"BDT 35,000,000 (estimated)","$29,332,133",2 hours 27 minutes
21,21,Hababam Sinifi: Sinifta Kaldi,8.9,Ertem Egilmez,"Sadik Sendil, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Kemal Sunal, Adile Na...",December 1975 (Turkey),Turkey,Turkish,"$15,000,000 (estimated)","$29,332,133",1 hour 35 minutes
22,22,Kireedam,8.9,Sibi Malayil,A.K. Lohithadas,74.684452,"Mohanlal, Thilakan, Kaviyoor Ponnamma, Parvath...","July 7, 1989 (India)",India,Malayalam,"$15,000,000 (estimated)","$181,001",2 hours 4 minutes
23,23,Inception,8.8,Christopher Nolan,Christopher Nolan,74.000000,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...","July 16, 2010 (India)","United States, United Kingdom","English, Japanese, French","$160,000,000 (estimated)","$839,030,630",2 hours 28 minutes
24,24,Fight Club,8.8,David Fincher,"Chuck Palahniuk, Jim Uhls",67.000000,"Brad Pitt, Edward Norton, Meat Loaf, Zach Gren...","October 15, 1999 (India)","Germany, United States",English,"$63,000,000 (estimated)","$101,321,009",2 hours 19 minutes
25,25,Forrest Gump,8.8,Robert Zemeckis,"Winston Groom, Eric Roth",82.000000,"Tom Hanks, Robin Wright, Gary Sinise, Sally Fi...","September 12, 2014 (India)",United States,English,"$55,000,000 (estimated)","$678,226,465",2 hours 22 minutes
26,26,12th Fail,8.8,Vidhu Vinod Chopra,"Vidhu Vinod Chopra, Jaskunwar Kohli, Anurag Pa...",74.684452,"Vikrant Massey, Medha Shankr, Anant Joshi, Ans...","October 27, 2023 (India)",India,Hindi,"$15,000,000 (estimated)","$138,288",2 hours 27 minutes
27,27,"Il Buono, Il Brutto, Il Cattivo",8.8,Sergio Leone,"Luciano Vincenzoni, Sergio Leone, Agenore Incr...",90.000000,"Clint Eastwood, Eli Wallach, Lee Van Cleef, Al...","April 15, 1969 (India)","Italy, Spain, West Germany, United States","Italian, English","$1,200,000 (estimated)","$25,264,999",2 hours 41 minutes
28,28,The Lord of the Rings: The Two Towers,8.8,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens",87.000000,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...","March 28, 2003 (India)","New Zealand, United States","English, Sindarin, Old English","$94,000,000 (estimated)","$938,242,927",2 hours 59 minutes
29,29,The Phantom of the Opera at the Royal Albert Hall,8.8,"Nick Morris, Laurence Connor","Richard Stilgoe, Andrew Lloyd Webber, Gaston L...",74.684452,"Ramin Karimloo, Sierra Boggess, Hadley Fraser,...","October 2, 2011 (United Kingdom)",United Kingdom,English,"$15,000,000 (estimated)","$5,247,282",2 hours 17 minutes
30,30,Demon Slayer: Tsuzumi Mansion Arc,8.8,Haruo Sotozaki,Koyoharu Gotouge,74.684452,NaN,"September 18, 2021 (Japan)",Japan,Japanese,"$15,000,000 (estimated)","$67,358",1 hour 27 minutes
31,31,Les Misérables in Concert: The 25th Anniversary,8.8,"Nick Morris, Laurence Connor, James Powell","Alain Boublil, Claude-Michel Schönberg, Victor...",74.684452,"Alfie Boe, Norm Lewis, Matt Lucas, Jenny Gallo...","October 3, 2010 (United Kingdom)",United Kingdom,English,"$15,000,000 (estimated)","$742,004",2 hours 58 minutes
32,32,The Human Condition III: A Soldier's Prayer,8.8,Masaki Kobayashi,"Zenzô Matsuyama, Kôichi Inagaki, Masaki Kobayashi",74.684452,"Tatsuya Nakadai, Michiyo Aratama, Tamao Nakamu...","January 28, 1961 (Japan)",Japan,"Japanese, Mandarin, Russian","$15,000,000 (estimated)","$29,332,133",3 hours 10 minutes
33,33,#Home,8.8,Rojin Thomas,Rojin Thomas,74.684452,"Indrans, Sreenath Bhasi, Manju Pillai, Naslen,...","August 19, 2021 (India)",India,Malayalam,"$15,000,000 (estimated)","$29,332,133",2 hours 38 minutes
34,34,Balkanski spijun,8.8,"Dusan Kovacevic, Bozidar 'Bota' Nikolic",Dusan Kovacevic,74.684452,"Danilo 'Bata' Stojkovic, Bora Todorovic, Mira ...","October 8, 1987 (Hungary)",Yugoslavia,Serbo-Croatian,"$15,000,000 (estimated)","$29,332,133",1 hour 35 minutes
35,35,Maratonci trce pocasni krug,8.8,Slobodan Sijan,Dusan Kovacevic,74.684452,"Bogdan Diklic, Danilo 'Bata' Stojkovic, Pavle ...","March 4, 1982 (Yugoslavia)",Yugoslavia,Serbian,"$15,000,000 (estimated)","$29,332,133",1 hour 32 minutes
36,36,The Last Farmer,8.8,M. Manikandan,M. Manikandan,74.684452,"Nallandi, Vijay Sethupathi, Yogi Babu, Ravi Pr...","February 11, 2022 (India)",India,Tamil,"$15,000,000 (estimated)","$5,800",2 hours 2 minutes
37,37,Natsamrat,8.8,"Mahesh Manjrekar, Satish Padwal","Abhijeet Shirish Deshpande, Mahesh Manjrekar, ...",74.684452,"Nana Patekar, Medha Manjrekar, Mrunmayee Deshp...","January 1, 2016 (India)",India,Marathi,"$15,000,000 (estimated)",$633,2 hours 46 minutes
38,38,Süt Kardesler,8.8,Ertem Egilmez,"Hüseyin Rahmi Gürpinar, Sadik Sendil",74.684452,"Kemal Sunal, Sener Sen, Halit Akçatepe, Hale S...","March 21, 1976 (Turkey)",Turkey,Turkish,"$15,000,000 (estimated)","$29,332,133",1 hour 20 minutes
39,39,C/O Kancharapalem,8.8,Venkatesh Maha,Venkatesh Maha,74.684452,"Radha Bessy, Subba Rao Vepada, Praneeta Patnai...","September 7, 2018 (India)",India,Telugu,"$15,000,000 (estimated)","$29,332,133",2 hours 32 minutes
40,40,Monpura,8.8,"Md. Hafizur Rahman, Giasuddin Selim","Arif Hossain, Giasuddin Selim",74.684452,"Chanchal Chowdhury, Farhana Mili, Shirin Alam,...","February 13, 2009 (Bangladesh)",Bangladesh,Bengali,"$15,000,000 (estimated)","$29,332,133",2 hours 16 minutes
41,41,Nadodikkattu,8.8,Sathyan Anthikad,"Sreenivasan, Lal, Siddique",74.684452,"Mohanlal, Sreenivasan, Shobana, Thilakan, Inno...","May 6, 1987 (India)",India,Malayalam,"$15,000,000 (estimated)","$29,332,133",2 hours 38 minutes
42,42,Aparajito,8.8,Anik Datta,"Anik Datta, Sreeparna Mitra, Utsav Mukherjee",74.684452,"Jeetu Kamal, Saayoni Ghosh, Debashis Roy, Para...","May 13, 2022 (India)",India,Bengali,"$15,000,000 (estimated)","$18,068",2 hours 18 minutes
43,43,Nuvvu Naaku Nachchav,8.8,Vijay K. Bhaskar,"Trivikram Srinivas, Vijay K. Bhaskar",74.684452,"Venkatesh Daggubati, Aarthi Agarwal, Suhasini,...","September 6, 2001 (India)",India,Telugu,"$15,000,000 (estimated)","$29,332,133",3 hours 4 minutes
44,44,Interstellar,8.7,Christopher Nolan,"Jonathan Nolan, Christopher Nolan",74.000000,"Matthew McConaughey, Anne Hathaway, Jessica Ch...","November 7, 2014 (India)","United States, United Kingdom, Canada",English,"$165,000,000 (estimated)","$732,055,745",2 hours 49 minutes
45,45,GoodFellas,8.7,Martin Scorsese,"Nicholas Pileggi, Martin Scorsese",92.000000,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...","July 31, 2019 (India)",United States,"English, Italian, Hebrew, Yiddish","$25,000,000 (estimated)","$47,054,352",2 hours 25 minutes
46,46,The Matrix,8.7,"Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski",73.000000,"Keanu Reeves, Laurence Fishburne, Carrie-Anne ...","September 11, 1999 (India)","United States, Australia",English,"$63,000,000 (estimated)","$467,840,449",2 hours 16 minutes
47,47,One Flew Over the Cuckoo's Nest,8.7,Milos Forman,"Lawrence Hauben, Bo Goldman, Ken Kesey",84.000000,"Jack Nicholson, Louise Fletcher, Michael Berry...","March 10, 1977 (India)",United States,English,"$3,000,000 (estimated)","$109,115,366",2 hours 13 minutes
48,48,Star Wars: Episode V - The Empire Strikes Back,8.7,Irvin Kershner,"Leigh Brackett, Lawrence Kasdan, George Lucas",82.000000,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...","December 10, 1980 (India)",United States,English,"$18,000,000 (estimated)","$550,016,086",2 hours 4 minutes
49,49,Jai Bhim,8.7,T.J. Gnanavel,"T.J. Gnanavel, Rajendra Sapre",74.684452,"Suriya, Lijo Mol Jose, Manikandan K., Rajisha ...","November 2, 2021 (India)","India, United States",Tamil,"$15,000,000 (estimated)","$29,332,133",2 hours 44 minutes

In [104]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore               0
Cast                    6
Release Date            0
Country of Origin       3
Languages              21
Budget                  0
Worldwide Gross      1093
Runtime                 0
dtype: int64

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4988 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4988 non-null   int64
 1   Title              4988 non-null   object
 2   Average Rating     4988 non-null   float64
 3   Director           4988 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          4988 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4988 non-null   object
 8   Country of Origin  4985 non-null   object
 9   Languages          4967 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4988 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 545.6+ KB

In [ ]:
missing_columns=['Country of Origin','Worldwide Gross']
df[missing_columns]=df[missing_columns].fillna(df[missing_columns].iloc[0]) #Bu kod Country of Origin va Worldwide Gross ustunlaridagi NaN (bo‘sh) qiymatlarni har bir ustunning birinchi qiymati (0-qator) bilan to‘ldiradi.
# missing_columns = [...] -  To‘ldirilishi kerak bo‘lgan ustunlar ro‘yxati.
# df[missing_columns] - Faqat shu ikki ustunni ajratib oladi.
# .fillna(df[missing_columns].iloc[0])- Har bir ustundagi NaN qiymatni shu ustundagi birinchi qatordagi qiymat bilan to‘ldiradi.
# Misol: Country of Origin ustunining birinchi qiymati — 'USA' bo‘lsa, NaN lar 'USA' bilan to‘ldiriladi.
#        Worldwide Gross ustunining birinchi qiymati — 1000000 bo‘lsa, NaN lar shu bilan to‘ldiriladi.

In [112]:
df.isnull().sum()

Unnamed: 0            0
Title                 0
Average Rating        0
Director              0
Writer                0
Metascore             0
Cast                  6
Release Date          0
Country of Origin     0
Languages            21
Budget                0
Worldwide Gross       0
Runtime               0
dtype: int64

In [114]:
df=df.dropna(subset='Cast', axis=0)

In [115]:
df.isnull().sum()

Unnamed: 0            0
Title                 0
Average Rating        0
Director              0
Writer                0
Metascore             0
Cast                  0
Release Date          0
Country of Origin     0
Languages            20
Budget                0
Worldwide Gross       0
Runtime               0
dtype: int64

In [117]:
df['Languages'].fillna(df['Languages'].mode()[0], inplace=True)

In [118]:
df.isnull().sum()

Unnamed: 0           0
Title                0
Average Rating       0
Director             0
Writer               0
Metascore            0
Cast                 0
Release Date         0
Country of Origin    0
Languages            0
Budget               0
Worldwide Gross      0
Runtime              0
dtype: int64

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4982 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4982 non-null   int64
 1   Title              4982 non-null   object
 2   Average Rating     4982 non-null   float64
 3   Director           4982 non-null   object
 4   Writer             4982 non-null   object
 5   Metascore          4982 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4982 non-null   object
 8   Country of Origin  4982 non-null   object
 9   Languages          4982 non-null   object
 10  Budget             4982 non-null   object
 11  Worldwide Gross    4982 non-null   object
 12  Runtime            4982 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 544.9+ KB

In [ ]:
df['Languages'].nunique # Bu kod yordamida berilgan qiymat tarkibida qanday va qancha tur(yoki classlar mavjud ekanligini bilib olishimiz mumkin bo'ladi. Natijada Biz Encoding qilishimiz uchun asos 
#bo'luvchi ma'lumotlarimizni olamiz)

<bound method IndexOpsMixin.nunique of 0                           English
1                          Japanese
2           English, Italian, Latin
3                           Turkish
4                           English
                   ...
4984                        Spanish
4985                        English
4986                       Japanese
4987    French, Portuguese, English
4988                         Korean
Name: Languages, Length: 4982, dtype: object>